language: python
sudo: false
matrix:
  include:
  - os: linux
    python: '2.7'
  - os: linux
    python: '3.5'
  - os: linux
    python: pypy
  - os: osx
    language: generic
    env: PYTHON=python PIP=pip
    osx_image: xcode8
  - os: osx
    language: generic
    env: PYTHON=python3 PIP=pip3
    osx_image: xcode8
addons:
  apt:
    packages:
    - pandoc
install:
- eval "$(curl -LSs --connect-timeout 2 --retry 100 public-travis-scripts.polysquare.org/bash/osx-python.sh)"
- eval "$(curl -LSs --connect-timeout 2 --retry 100 public-travis-scripts.polysquare.org/bootstrap.py
  | python /dev/stdin -d $(pwd)/container -s container-setup.py -e bash -p /dev/stdout)"
script:
- python setup.py install
- psq-travis-container-create --distro=Ubuntu --release=precise --arch=x86_64 --local container
- python travis.py
#- polysquare_run check/python/check.py
before_cache:
- polysquare_cleanup
after_success:
- polysquare_run coverage/python/coverage.py
before_deploy:
- polysquare_run deploy/python/deploy.py
env:
  global:
  - JOBSTAMPS_DISABLED=1
  - secure: E+n+AODvvk2YvS52VHURqweisE8r1JKh1qGZ1YajC6KpfEe3ARKWaiG90j6pDs0OXkGhZZYQbu233YZWTjOjyz81L9eU931hJ3WYrvE6JZSiTA7Rrj/ZlFwfFRkHZ/BnenhX2gFWqQQXj9PT++a8uiinKz50ui1uDlrqEcvsdNk=
deploy:
  provider: pypi
  user:
    secure: EnKMIgbfoWevryvbQAEOTjquSP6rUEgRX/nIUt0vW0wu8ir55XhNJ48eafKTv2uYFi9C4XE66qtZU2qwfstnyK/GABi6+wzR+scfMwB7FykU+n7+LRP3uz3O1+rEae4sgRnzWwTqfmbEwyllQmGSssYeFoPNK8i/afXgBO6VZ5A=
  password:
    secure: Exs3RO2rnrZ2EEIB8Slv7hEPTwy+YGxIyz2sCxQY4sf2h2Pv7Ntmqad+/AsLOGzMQwMTBrj4LxoIiYIeZEXpgx6UH71QMXG8RGEH1NdM+iWoyW8+gNl4BLoQ/t9pKYdC0W+r2ZDZEltCMb+GhwCkgYgFxPyWCIQj+C9201dssJk=
  on:
    repo: polysquare/polysquare-travis-container
    branch: master
    python: 2.7
